@import '../../../styles/settings.scss';

.component {
  position: relative;
  text-align: center;
  color: #fff;
}

.title, .promo {
  position: absolute;
  width: 100%;
}

.title {
  bottom: 40px;
}

.promo{
  bottom: 10px;
}
